/* 01. GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", serif;
  color: #333;
  font-size: 16px;
}

/* 02. HEADER */

h1 {
  margin-top: 3%;
  text-align: center;
  color: #6bc2bd;
  font-weight: bold;
  font-size: 2.5rem;
}
.line {
  width: 80px;
  height: 3px;
  background-color: #6bc2bd;
  display: block;
  margin: 15px auto 3%;
}

/* 03. SEARCHBAR */



#SearchInput {

  width: 60%;
  height: 28px;
  outline: none;
  border-radius: 5px;
  padding: 1%;
  border: 1px solid lightgray;
}
.searchFlex {
  display: flex;
  flex-direction: row;
  margin: 2% auto;
  justify-content: center;
  align-items: center;
}
.searchIcon {
  font-size: 20px;
  margin-left: -2.5%;
}

.add{
    border: none;
    margin-right: 30px;
    font-size: 30px;
}

/* 03. ADDRESSBOOK RESULTS  */

.contactsTable {
  margin: 3% auto;
}

.contactsTable tr th {
  width: 200px;
}
thead th {
  border-bottom: 1px solid lightgray;
  color: #6bc2bd;
  font-size: 1.4rem;
  padding: 10px 0;
}
.contactsTable td {
  padding-top: 10px;
  text-align: center;
}
.contactsTable td a {
  cursor: pointer;
}

/* 04. MODAL  */

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  display: none;
}
.modal-content {

  width: 500px;
  height: 600px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}
.avatar{
    margin: 2% auto;
    display: block;
}
#closeSign{
    position: absolute;
    top: 0;
    right: 14px;
    transform: rotate(45deg);
    font-size: 35px;
    cursor: pointer;
}
.inputAdd{
display: flex;
align-items: center;
justify-content: center;
margin: 1%;
}
.inputAdd label{
    width: 100px;
}
.inputAdd input{
    width: 200px;
    height: 25px;
    border: 1px solid lightgrey;
    outline: none;
    padding: 1% 2%;
    border-radius: 5px;

}
.button-wrapper{
    display: flex;
    justify-content: center;
    margin: 5%;
}
